/* Resetear estilos */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para ocupar siempre todo el alto de la pantalla */
html,
body {
    /* height: 100%; */
    min-height: 100svh;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
}

header {
    background-color: rgba(17, 24, 39, 1);
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 2.2vw;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Logo */
.card {
    width: 140px;
    height: 80px;
    background: rgba(17, 24, 39, 1);
    position: relative;
    display: grid;
    place-content: center;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

#logo-main,
#logo-second {
    height: 100%;
}

#logoNameP {
    font-size: 16px;
    padding: 3px;
}

#logo-main {
    fill: #bd9f67;
}

#logo-second {
    padding-bottom: 5px;
    fill: none;
    stroke: #bd9f67;
    stroke-width: 1px;
}

.border {
    position: absolute;
    inset: 0px;
    border: 2px solid #bd9f67;
    opacity: 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
}

.bottom-text {
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
    font-size: 6px;
    text-transform: uppercase;
    padding: 0px 5px 0px 8px;
    color: #bd9f67;
    background: #243137;
    opacity: 0;
    letter-spacing: 2px;
    transition: all 0.5s ease-in-out;
}

.content {
    transition: all 0.5s ease-in-out;
}

.content .logo {
    height: 25px;
    position: relative;
    width: 50px;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.content .logo .logo1 {
    height: 33px;
    position: absolute;
    left: 0;
}

.content .logo .trail {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.content .logo-bottom-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    color: #bd9f67;
    padding-left: 8px;
    font-size: 11px;
    opacity: 0;
    letter-spacing: none;
    transition: all 0.5s ease-in-out 0.5s;
}

.card:hover {
    border-radius: 0;
    transform: scale(1.1);
}

.card:hover .logo {
    width: 140px;
    animation: opacity 1s ease-in-out;
}

.card:hover .border {
    inset: 10px;
    opacity: 1;
    transform: rotate(0);
}

.card:hover .bottom-text {
    letter-spacing: 3px;
    opacity: 1;
    transform: translateX(-50%);
}

.card:hover .content .logo-bottom-text {
    opacity: 1;
    letter-spacing: 9.5px;
}

.card:hover .trail {
    animation: trail 1s ease-in-out;
}


#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
    display: none;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(253, 255, 243);
    border-radius: 5px;
    transition-duration: .3s;
}

/* #checkbox:checked+.toggle .bars {
    margin-left: 13px;
} */

#checkbox:checked+.toggle #bar2 {
    transform: translateY(14px) rotate(60deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
}

#checkbox:checked+.toggle #bar1 {
    transform: translateY(28px) rotate(-60deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
}

#checkbox:checked+.toggle {
    transform: rotate(-90deg);
}

/* #checkbox:checked + .toggle #bar3 {
    transform: rotate(90deg);
    transition-duration: .3s;
    transform-origin:right;
  } */
/* Estilos para el main */
main {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    animation: entrada 1s;
}

section {
    background-color: rgba(17, 24, 39, 0.177);
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: rgba(17, 24, 39, 1);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    /* position: absolute;
    bottom: 0; */
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: rgba(17, 24, 39, 1);
        position: absolute;
        top: 60px;
        right: 10px;
        width: 150px;
        padding: 20px;
        border-radius: 8px;
    }

    .toggle {
        display: flex;
        z-index: 100;
    }

    nav ul.verMenu {
        display: flex;
    }

    nav .logo {
        font-size: 6vw;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-intro {
    width: 90%;
    margin-top: 20px;
}

#carrito {
    margin-top: 20px;
}

#carrito p {
    margin-top: 10px;
    font-weight: 600;
}

.intro p {
    margin-top: 10px;
}